
@{
    ViewBag.Title = "Ups...";
}

<h1 style="width: 300px; color: cadetblue; margin: 17% 45%">Нет такого!</h1>

@section ArtistEdit{
    
<link href="~/Areas/Management/Styles/managment-common.css" rel="stylesheet" />
    <link href="/Areas/Management/Styles/artist-edit.css" rel="stylesheet" type="text/css" />
    <link href="/Areas/Management/Styles/navpan.css" rel="stylesheet" type="text/css" />
}

