
@{
    ViewBag.Title = "Ups...";
}

<h1 id="notfound" style="width: 300px; margin: 17% 45%">Нет такого!</h1>

@section cssStyles{
    <link href="/Styles/tracks.css" rel="stylesheet" type="text/css" />
}

