@model System.Int32
    
<a class="btn btn-sm btn-success" href="@Url.Action("AddAlbum", "Cart", new { albumId = Model, area = "Payment" })">
    <span class="glyphicon glyphicon-shopping-cart"></span> Купить
</a>
