@model System.Int32

<a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Album", new { id = Model, area = "Management" })">
    <span class="glyphicon glyphicon-trash"></span> Удалить альбом
</a>
