@model System.Int32

<a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Artist", new { id = Model, area = "Management" })">
    <span class="glyphicon glyphicon-trash"></span> Удалить исполнителя
</a>
