@model System.Int32

<a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Artist", new { id = Model, area = "Management" })">
    <span class="glyphicon glyphicon-pencil"></span> Редактировать исполнителя
</a>