<span class="empty-stars">
    <span class="star">
        <i class="glyphicon glyphicon-star-empty"></i>
    </span><span class="star">
        <i class="glyphicon glyphicon-star-empty"></i>
    </span><span class="star">
        <i class="glyphicon glyphicon-star-empty"></i>
    </span><span class="star">
        <i class="glyphicon glyphicon-star-empty"></i>
    </span><span class="star">
        <i class="glyphicon glyphicon-star-empty"></i>
    </span>
</span>