@model Shop.Common.Models.ViewModels.GenreDetailsViewModel

@Html.AntiForgeryToken()
<body>
<div id="genreDetails">
    <ul>
        <li>
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Имя" } })
        </li>
        <li>
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { placeholder = "Описание" } })
        </li>
    </ul>

    <button type="submit" class="btn" id="btn-save">Cj</button>
</div>
</body>


@section cssStyles{
    <link href="~/Styles/tracks.css" rel="stylesheet"/>
}