@model Shop.Common.Models.GenreDetailsViewModel
@{ ViewBag.Title = @Model.Name; }
@Html.AntiForgeryToken()
<body>
<div id="genreDetails" style="display: block; text-align: center;">
    <div style="display: inline-block; width: 70%">
        <p style="font-size: 1.5em; text-align: initial">
            @Html.DisplayTextFor(m => m.Description)
        </p>
        <div>
            <a class="btn btn-primary" href="@Url.Action("Edit", "Genres", new { Area = "Management", id = Model.Id })"><span class="glyphicon glyphicon-pencil"></span> Правка</a>
        </div>
    </div>
</div>
</body>


@section cssStyles{

    <link href="~/Content/tracks.css" rel="stylesheet"/>
}