@model IEnumerable<Shop.Common.Models.ViewModels.GenreDetailsViewModel>

@{
    ViewBag.Title = "Все жанры";
}

<title class="title">Все жанры</title>


<div class="list">
    <ul>
        @foreach (var item in Model)
        {
            <li onclick="itemClick(@item.Id)">
                <div>
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </li>
        }
    </ul>
</div>

<script>
    function itemClick(id) {
        var url = '@Url.Action("Details", "Genres", new { id = "*"})';
        window.location.href = url.replace('*', encodeURIComponent(id));
    }
</script>

@section cssStyles{
    <link href="~/Styles/tracks.css" rel="stylesheet" />
}

