@using MvcSiteMapProvider.Web.Html
@model ICollection<Shop.Common.ViewModels.AlbumDetailsViewModel>
@{ViewBag.Title = "Все альбомы";}
<div class="albums-list">
    <ul class="list-group" id="slist">
        @foreach (var album in Model)
        {
            <li class="list-group-item" id="albums-item">
                <img class="img-thumbnail" src="data:image;base64,@Convert.ToBase64String(album.Cover)" onerror="this.src = '/img/defuserpic.png'"/>
                <div class="details">
                    <div class="album-title">
                        <p>@Html.ActionLink(album.Name, "Details", "Albums", new { id = album.Id, area = "Content" }, new { @class = "album-name" })</p>
                    </div>
                    @Html.Partial("_Stars", album.Id)
                    <p>
                        Треков <span class="badge">@album.TracksCount</span>
                    </p>
                    <span class="label label-primary">@Html.ActionLink(album.Artist.Name, "Details", "Artists", new { id = album.Artist.Id, area = "Content" }, null)</span>
                    <span class="label label-success">Pop</span>
                </div>
                <div class="btn-align">
                    <i class="fa fa-eur">1.25</i>
                    <div class="btn-buy">
                        <a class="btn btn-warning" style="font-weight: bolder; vertical-align: middle"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

@section cssStyles{
    <link href="~/Content/tracks.css" rel="stylesheet"/>
}