.topbar {
    text-align: center;
    height: 30px;
    background-color: black;
}

.nav-items {
    display: block;
    height: 30px;
    color: white;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items > li {
    height: 30px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
}

.nav-items > li > a {
    
    color: white;
    text-decoration: none;
}

.nav-items > li>a:hover { color: #dc143c }