################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/Scripts/fileuploader.js
