*.suo
PVT.Q1.2017.Shop/.vs/
PVT.Q1.2017.Shop/packages/
PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/bin/
PVT.Q1.2017.Shop/PVT.Q1.2017.Shop.Tests/obj/
PVT.Q1.2017.Shop/PVT.Q1.2017.Shop.Tests/bin/
PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/obj/
PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/App_Data/logs/
*.user
PVT.Q1.2017.Shop/Ship.Infrastructure/bin
PVT.Q1.2017.Shop/Ship.Infrastructure/obj
PVT.Q1.2017.Shop/Shop.BLL/bin
PVT.Q1.2017.Shop/Shop.BLL/obj
PVT.Q1.2017.Shop/Shop.Common/bin
PVT.Q1.2017.Shop/Shop.Common/obj
PVT.Q1.2017.Shop/Shop.DAL/bin
PVT.Q1.2017.Shop/Shop.DAL/obj
PVT.Q1.2017.Shop/Shop.Security/bin
PVT.Q1.2017.Shop/Shop.Security/obj
*.Cache

PVT\.Q1\.2017\.Shop/obj/
PVT.Q1.2017.Shop/TestResults/
*.coverage
