################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/Scripts/fileuploader.js
/PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/Scripts/input-updater.js
/PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/App_Data/Shop.mdf
/PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/App_Data/Shop_log.ldf
PVT.Q1.2017.Shop/packages/Castle.Core.4.0.0/ASL - Apache Software Foundation License.txt
PVT.Q1.2017.Shop/packages/Castle.Core.4.0.0/CHANGELOG.md
PVT.Q1.2017.Shop/packages/
PVT.Q1.2017.Shop/Shop.Security/bin/
PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/obj/
PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/App_Readme/readme.txt
PVT.Q1.2017.Shop/Ship.Infrastructure/obj/
PVT.Q1.2017.Shop/Shop.BLL/bin/
PVT.Q1.2017.Shop/Shop.BLL/obj/Debug/Shop.BLL.csproj.FileListAbsolute.txt
PVT.Q1.2017.Shop/Shop.Common/obj/
PVT.Q1.2017.Shop/PVT.Q1.2017.Shop/bin/
PVT.Q1.2017.Shop/Shop.DAL/bin/Debug/Ninject.Extensions.Factory.xml
PVT.Q1.2017.Shop/Shop.DAL/obj/
