@{
    ViewBag.Title = "Контакты";
}

<div style="text-align: center; background-color: rgba(255, 255, 255, 0.6)">
    <h3>Music Shop был разработан в рамках курса ASP.NET MVC</h3>

    ПВТ Q1 2017
    <br />
    <br />
    <h4>Александр Шадуро</h4>
    <h5>Алексей Падабед</h5>
    <h5>Слава Пешко</h5>
    <h5>Вадим Бондарук</h5>
    <h5>Алекcандр Каптюг</h5>
    <h5>Вадим Ильинчик</h5>
    <h5>Готто Евгений</h5>
    <h5>Дарья</h5>
    <h5>Кухаренко Андрей</h5>
    <h5>Александр Литвинов</h5>
    <h5>Ольга Адасько</h5>
    <h5>Ольга Ананич</h5>
    <h5>Павел Анаралик</h5>
    <h5>Евсеев Роман</h5>
    <h5>Ишмуратов Сергей</h5>
    <br />
</div>
<br />
