@{
    ViewBag.Title = "О нас";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Образовательный центр ПВТ. Курс разрабтка ASP.NET MVC5</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1 style="margin-top: 25px">Образовательный центр ПВТ</h1>
                <h2>Курс: "Разработка ASP.NET MVC5"</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container" style="background: #fff; border-radius: 15px; opacity: 0.9">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="~/img/cropped.jpg">
            <h2 class="featurette-heading">
                Проект "MusicShop"
                <span class="text-muted">музыкальный интернет-магазин</span>
            </h2>
            <p class="lead" style="text-align: justify">Команда Q1-2017 начала совместную работу в 2017 году в составе одноименной группы образовательного центра Парка Высоких Технологий. Благодаря целеустремленности, энергии и профессионализму молодой команды, проект быстро развивался в этот период и смог вырасти за три месяца до релизной версии.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="~/img/20170324_190839.jpg" style="width: 500px">
            <h2 class="featurette-heading">
                Наш командый
                <span class="text-muted">состав:</span>
            </h2>
        </div>
        <div style="text-indent: 50px">
            <p class="lead">
                ПВТ Q1 2017
                    <h5>Алексей Падабед</h5>
                    <h5>Слава Пешко</h5>
                    <h5>Вадим Бондарук</h5>
                    <h5>Алекcандр Каптюг</h5>
                    <h5>Вадим Ильинчик</h5>
                    <h5>Готто Евгений</h5>
                    <h5>Шерешева Дарья</h5>
                    <h5>Кухаренко Андрей</h5>
                    <h5>Александр Литвинов</h5>
                    <h5>Ольга Адасько</h5>
                    <h5>Ольга Ананич</h5>
                    <h5>Павел Анаралик</h5>
                    <h5>Евсеев Роман</h5>
                    <h5>Ишмуратов Сергей</h5>
                    <br />
                </p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact" style="margin-bottom: 250px; margin-top: 80px">
            <img class="featurette-image img-circle img-responsive pull-right" src="~/img/20170224_201814.jpg" style="width: 500px">
            <h2 class="featurette-heading">
                Благодарности
                <span class="text-muted">.</span>
            </h2>
            <p class="lead">Отдельная благодарность преподавателю курса, по совместительству руководителю, идейному вдохновителю и тапку мотивации Александру Шадуро.</p>
            <h2 class="featurette-heading">
                Контакты
                <span class="text-muted">.</span>
            </h2>
            <p class="lead">По всем вопросам и предложениям обращаться в <a href="https://join.skype.com/oCmR4wJsq0Fs">Skype</a> нашей команды.</p>
        </div>
        <hr class="featurette-divider">
    </div>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</body>

</html>
