<section class="main-col">
    <div class="article-detail">

        <h1 class="article-detail__title">
            Бьорк сняла клип в виртуальной реальности
        </h1>

        <div class="article-detail__date">04 апреля 2017</div>

        <div class="article-detail__share">
            <a href="http://www.facebook.com/sharer.php?u=http://vogue.ua/article/culture/muzyka/bork-snyala-klip-v-virtualnoy-realnosti.html" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://vkontakte.ru/share.php?url=http://vogue.ua/article/culture/muzyka/bork-snyala-klip-v-virtualnoy-realnosti.html&amp;title=Бьорк сняла клип в виртуальной реальности" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-vk"></i>
            </a>
            <a href="http://twitter.com/share?url=http://vogue.ua/article/culture/muzyka/bork-snyala-klip-v-virtualnoy-realnosti.html&amp;text=Бьорк сняла клип в виртуальной реальности" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-twitter"></i>
            </a>
        </div>


        <div class="article-detail__text">
            <p>По слухам, в этом году 51-летняя Бьорк выпустит новый альбом - над ним она начала работать еще в 2015 году, сразу после релиза пластинки&nbsp;Vulnicura.&nbsp;Vulnicura был написан во время расставания с партнером Бьорк, художником Мэтью Барни (с латыни vulnicura переводится буквально как "излечение ран"); новый альбом, обещает&nbsp;певица, будет не таким меланхоличным. Пока же Бьорк&nbsp;представила видео на песню Notget, который она создала при помощи&nbsp;VR-технологии. Для съемки Бьорк и ее команда использовали очки&nbsp;дополненной реальности: в видео она появляется в образе феи, за которой&nbsp;охотится огромная медуза.</p>
            <p style="text-align: center;">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/pJDcwXQc5CU" width="630"></iframe>
            </p>
            <p>Вирутальными технологиями Бьорк увлеклась всерьез: так, в следующем месяце она отыграет концерт в Лос-Анджелесе, на котором также обещает своим зрителям дополненную реальность.&nbsp;</p>
            <p></p>
            <p>
                <em>Читайте также:</em>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/intervyu-s-leo-mantis.html">Свой среди своих: интервью с музыкантом Leo Mantis</a>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/premera-pianoboy-predstavil-ukrainskuyu-versiyu-hita-rodina.html">Премьера: Pianoboy представил украинскую версию хита "Родина"</a>
            </p>
        </div>

        <div class="article-detail__tag">
            <a href="/tags/43-znamenitosti.html" class="article-detail__tag__item">знаменитости</a>
            <span class="article-detail__tag__middot">·</span>
        </div>

        <div class="clearfix"></div>
    </div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet"/>