<section class="main-col">
    <div class="article-detail">

        <h1 class="article-detail__title">
            "ДахаБраха" выступит на фестивале Sziget
        </h1>

        <div class="article-detail__date">11 апреля 2017</div>

        <div class="article-detail__text">
            <p>
                С 9 по 16 августа на острове Свободы в Будапеште пройдет 25-й юбилейный Sziget. Стало известно,что на фестивале в этом году выступит самая известная украинская группа в мире - <a href="http://vogue.ua/article/culture/zhurnal-intervyu-s-gruppojj-dakhabrakha5594.html">"ДахаБраха"</a>. Для группы&nbsp;это <a href="http://vogue.ua/article/culture/kak-proshel-sziget-20156575.html">третий приезд на Sziget</a>. Организаторы говорят, что гости&nbsp;Sziget особенно любят "ДахуБраху", поэтому группу постоянно приглашают на фестиваль. "ДахаБраха" выступит на одной из самых крупных площадок фестиваля -&nbsp;World Music Stage.
            </p>
            <div class="post__photo">
                <img alt="" src="~/Areas/News/img/1-3.jpeg" style="height: 661px; width: 990px" title=""><span class="text__photo__about-title">Группа "ДахаБраха" в съемке для украинского Vogue в 2015 году</span>
            </div>
            <p>
                Поскольку&nbsp;Sziget в этом году празднует 25-летие, организаторы обещают, что на&nbsp;World Music Stage прозвучит "лучшее из world music прошлого и будущего". Так, на сцену &nbsp;выйдут Горан Брегович и его культовый&nbsp;Wedding and Funeral Band,&nbsp;единственный в мире награжденный премией Grammy легендарный клезмер-бэнд Klezmatics,&nbsp;марокканские&nbsp;музыкальные&nbsp;революционеры&nbsp;Orchestre National de Barbés и другие. Напомним, что организаторы также объявили часть хедлайнеров Sziget. Так, на главной сцене выступят Пинк, Рита Ора, PJ Harvey, британские рокеры Casabiаn, Джейми Каллум и&nbsp;хорошо&nbsp;известный украинским слушателям <a href="http://vogue.ua/article/culture/muzyka/intervyu-s-tomom-odellom.html">Том Оделл</a>.
            </p>
            <p style="text-align: center">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/Tfwp9SrEgts" width="630"></iframe>
            </p>
            <p></p>
            <p>
                <em>Читайте также:</em>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/vmesto-tysyach-slov-kak-proshel-koncert-onuka-i-naoni.html">Вместо тысячи слов: как прошел концерт ONUKA и НАОНІ</a>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/novyy-klip-5-nizza.html">Премьера: новый клип группы 5'nizza</a>
            </p>
        </div>

        <div class="article-detail__tag">
            <a href="/tags/253-muzykanty.html" class="article-detail__tag__item">музыканты</a>
            <span class="article-detail__tag__middot">·</span>
            <a href="/tags/444-festival.html" class="article-detail__tag__item">фестиваль</a>
            <span class="article-detail__tag__middot">·</span>
        </div>

        <div class="clearfix"></div>
    </div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet"/>