<section class="main-col">
    <div class="article-detail">

        <h1 class="article-detail__title">
            Depeche Mode выпускают новый альбом
        </h1>

        <div class="article-detail__date">16 марта 2017</div>

        <div class="article-detail__share">
            <a href="http://www.facebook.com/sharer.php?u=http://vogue.ua/article/culture/muzyka/depeche-mode-vypuskayut-novyy-albom.html" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://vkontakte.ru/share.php?url=http://vogue.ua/article/culture/muzyka/depeche-mode-vypuskayut-novyy-albom.html&amp;title=Depeche Mode выпускают новый альбом" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-vk"></i>
            </a>
            <a href="http://twitter.com/share?url=http://vogue.ua/article/culture/muzyka/depeche-mode-vypuskayut-novyy-albom.html&amp;text=Depeche Mode выпускают новый альбом" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-twitter"></i>
            </a>
        </div>


        <div class="article-detail__text">
            <p>Поклонники ждали этого четыре года - и это случилось: 17 марта выходит новый, 14-ый по счету, альбом Depeche Mode. Музыканты признаются, что работали над Spirit в разгар президентских выборов в США, с чувством тревоги о судьбе страны и планеты. "Президентская кампания&nbsp;Трампа и ее результат произвели сокрушительное воздействие на меня", - признался в одном из интервью Мартин Гор, а Дэйв Гаан рассказал, что из-за результатов президентских выборов плакала даже его&nbsp;&nbsp;16-тилетняя дочь Роуз.&nbsp;Вероятно, Spirit станет самым заполитизированным альбомом культовой группы.</p>
            <div class="post__photo">
                <img alt="" src="~/Areas/News/img/1-11.jpeg" style="height: 1001px; width: 990px" title="iFrame"><span class="text__photo__about-title">Фото - Антон Корбейн</span>
            </div>
            <p>Впервые за несколько лет&nbsp;Depeche Mode сменили саундпродюсера. Над новой пластинкой с ними работал Джеймс Форд, который славится сотрудничеством с самыми харизматичными молодыми рокерами - Arctic Monkeys, Foals,&nbsp;The Last Shadow Puppets, а также Флоренс Уэлш. Одна из заглавных песен альбома - тревожная&nbsp;«Where's The Revolution», клип на которую снял бессменный режисер большинства видео&nbsp;Depeche Mode, легендарный фотограф Антон Корбейн. В черно-белом клипе Корбейна Дэйв Гехан, Мартин Гор и Энди Флетчер превращаются в политиков и выступают с трибуны, призывая общество к радикальным переменам.</p>
            <p style="text-align: center;">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/jsCR05oKROA" width="630"></iframe>
            </p>
            <p>5 мая в Швеции в поддержку нового альбома стартует Global Spirit tour, в рамках которого музыканты побывают в 21 стране. 19 июля&nbsp;Depeche Mode сыграют на НСК Олимпийский в Киеве.</p>
            <p></p>
            <p>
                <em>Читайте также:</em>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/intervyu-s-tomom-odellom.html">Талантливый мистер Оделл: интервью с Томом Оделлом</a>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/v-kieve-proshel-pervyy-koncert-leo-mantisa.html">В Киеве прошел первый концерт Leo Mantis</a>
            </p>
        </div>

        <div class="article-detail__tag">
            <a href="/tags/253-muzykanty.html" class="article-detail__tag__item">музыканты</a>
            <span class="article-detail__tag__middot">·</span>
            <a href="/tags/344-muzykalnye-premery.html" class="article-detail__tag__item">музыкальные премьеры</a>
            <span class="article-detail__tag__middot">·</span>
        </div>

        <div class="clearfix"></div>
    </div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet"/>