<section class="main-col">
    <div class="article-detail">

        <h1 class="article-detail__title">
            Плейлист Кристиана Леффлера
        </h1>

        <div class="article-detail__date">05 апреля 2017</div>

        <div class="article-detail__text">
            <p>
                <strong>8 апреля в центре Довженко выступят лидеры берлинской электронной сцены - Кристиан Леффлер и Дэвид Огаст. За несколько дней до приезда в Киев Кристиан Леффлер, который осенью 2016 года отыграл&nbsp;на афтепати Fashion's Night Out, рассказал Vogue.ua, какая музыка звучит в его плейлисте.</strong>
            </p>
            <div class="post__photo">
                <img alt="" src="~/Areas/News/img/1-7.jpeg" style="height: 661px; width: 990px" title=""><span class="text__photo__about-title">Кристиан Леффлер на афтепати Fashion's Night Out 2016</span>
            </div>
            <p>&nbsp;</p>
            <div class="post__photo">
                <img alt="" src="~/Areas/News/img/2-7.jpeg" title=""><span class="text__photo__about-title">В студии Кристиана Лефлера</span>
            </div>
            <p>&nbsp;</p>
            <div class="post__photo">
                <img alt="" src="~/Areas/News/img/3-7.jpeg" style="height: 660px; width: 990px" title=""><span class="text__photo__about-title">В студии Кристиана Лефлера</span>
            </div>
            <p>
                &nbsp;<strong>Apparat - Komponent (Telefon Tel Aviv Remix)</strong>
            </p>
            <p>Я большой фанат Raz Ohara (вокалист группы Apparat), голос которого в этом треке звучит просто потрясающе. Я до сих пор помню, как впервые ехал в машине под эту песню. Она навсегда останется одной из моих любимых.</p>
            <p>
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/-77ysHsMpeA" width="630"></iframe>
            </p>
            <div>
                <strong>Pantha Du Prince - Saturn Strobe</strong>
                <p>Мне очень нравится контраст между классической и электронной составляющей этого трека. Нравится, как он рассинхронизируется, а потом входит обратно в общую колею. Абсолютный шедевр, каждый раз, когда его слушаю, не могу подобрать слова, чтобы его описать. Версия Hal, кстати, тоже очень крутая.</p><iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/Zdo0Xhw8_qo" width="630"></iframe>
                <div></div>
                <div>
                    <strong>Lawrence - Neighbourhood</strong>
                    <p>Этот трек - одна из главных причин, почему я до сих пор верю в хаус-музыку. Работа вне времени, которая являет собой удивительный микс грусти и электроники.</p>
                </div>
            </div>
            <p>
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/q5PnhjWkS2A" width="630"></iframe>
            </p>
            <p>
                <strong>Nathan Fake - You Are Here</strong>
            </p>
            <p>Я помню как давным-давно общался с Натаном еще на Myspace. В 2005 у него был сет на Melt Festival, который стал самым ярким событием уикэнда. Он тогда играл свой первый альбом, в котором очень много эмбиента. Это было невероятно.</p>
            <p>
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/0rg_Ix13dHE" width="630"></iframe>
            </p>
            <p>
                <strong>Johannes Heil - 20.000 Leagues Under The Sin</strong>
            </p>
            <p>Весь альбом очень простой и глубокий. Когда-то он оказал на меня большое влияние и сподвигнул создавать атмосферное техно.</p>
            <p>
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/pzjB7jAC6Nc" width="630"></iframe>
            </p>
            <p>
                <strong>Mathew Jonson - Decompression</strong>
            </p>
            <p>Настоящий клубный гимн. Отличный пример того, какой мощной и чувственной может быть танцевальная музыка.</p>
            <p>
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/GwD8aS8ZtkU" width="630"></iframe>
            </p>
            <p>
                <strong>The Postal Service - Give Up&nbsp;</strong>
            </p>
            <p>Я большой поклонник американской группы Death Cab For Cutie (в которой играет солист The Postal Service Бен Гиббард), но именно Give Up - один из лучших альбомов, которые когда-либо были написаны. Кроме того, я люблю все, что делает Dntel (проект второго участника The Postal Service Джимми Тамборелло).</p>
            <p>
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/oPwXHSqFl9Q" width="630"></iframe>
            </p>
            <p></p>
            <p>
                <em>Читайте также:</em>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/glavnye-koncerty-vesny.html">13 главных концертов этой весны</a>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/novyy-klip-luny.html">Танцуют все: новое видео Луны</a>
            </p>
        </div>

        <div class="article-detail__tag">
            <a href="/tags/253-muzykanty.html" class="article-detail__tag__item">музыканты</a>
            <span class="article-detail__tag__middot">·</span>
        </div>

        <div class="clearfix"></div>
    </div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet"/>