<section class="main-col">
    <div class="article-detail">

        <h1 class="article-detail__title">
            Gorillaz выпускают новый альбом
        </h1>

        <div class="article-detail__date">24 марта 2017</div>

        <div class="article-detail__share">
            <a href="http://www.facebook.com/sharer.php?u=http://vogue.ua/article/culture/muzyka/gorillaz-vypuskaet-novyy-albom.html" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://vkontakte.ru/share.php?url=http://vogue.ua/article/culture/muzyka/gorillaz-vypuskaet-novyy-albom.html&amp;title=Gorillaz выпускают новый альбом" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-vk"></i>
            </a>
            <a href="http://twitter.com/share?url=http://vogue.ua/article/culture/muzyka/gorillaz-vypuskaet-novyy-albom.html&amp;text=Gorillaz выпускают новый альбом" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-twitter"></i>
            </a>
        </div>


        <div class="article-detail__text">
            <p>
                Группа Gorillaz молчала шесть лет и вернулась действительно триумфально: накануне инаугурации Трампа музыканты выпустили разоблачающую песню <a href="http://vogue.ua/article/culture/muzyka/gruppa-gorillaz-vozvrashchaetsya-s-novym-albomom.html">Hallelujah Money</a> – о деньгах и власти, записанную совместно с <a href="http://vogue.ua/article/culture/muzyka/intervyu-s-bendzhaminom-klementinom.html">Бенджамином Клементином.</a> А вчера команда обьявила&nbsp;дату релиза нового альбома - пластинка Humanz выходит 28 апреля. Группа, кототорая несколько лет находилась в тени, сейчас буквально бомбардирует поклонников новостями: так, &nbsp;вместе&nbsp;с датой выхода нового альбома они презентовали сраз четыре новых клипа -&nbsp;&nbsp;Saturnz Barz, Andromeda, Weʼve Got The Power и Ascension.
            </p>
            <p style="text-align: center;">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/hBA0PUQCvIA" width="630"></iframe>
            </p>
            <p>
                Уже ясно, что в новом альбоме&nbsp;Gorillaz удивят дуэтами: так,&nbsp;песню&nbsp;Weʼve Got The Power они записали совместно с&nbsp;Ноэлом Галлахером&nbsp;из Oasis,&nbsp;Ascension -&nbsp;вместе с рэпером Винсом Стейплсом. Также в новом альбоме будет коллаборация с молодой британской певицей <a href="http://vogue.ua/article/culture/muzyka/glavnye-koncerty-vesny.html">Ray BLK</a>, которая уже 31 марта выступит в Киеве. &nbsp;Сами музыканты говорят, что Humanz станет&nbsp;«молнией правды посреди темной ночи».
            </p>
            <p style="text-align: center;">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/HSivlaSVk1k" width="630"></iframe>
            </p>
            <p>Но&nbsp;и это еще не все новости: весной, по слухам,&nbsp;&nbsp;Gorillaz&nbsp;едут в большой тур. 24 марта они отыграют первый концерт в Лондоне - билеты на него разлетелись за полчаса, хотя место проведения до последнего не было известно.&nbsp;Сегодня на сцену с Дэймоном Албарном&nbsp;выйдут все приглашенные звезды, которые участвовали в записи альбома.</p>
            <p style="text-align: center;">
                <br><iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/9W44NWYwa1g" width="630"></iframe>
            </p>
            <p style="text-align: center;">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/5qJp6xlKEug" width="630"></iframe>
            </p>
            <p></p>
            <p>
                <em>Читайте также:</em>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/glavnye-koncerty-vesny.html">13 главных концертов этой весны</a>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/luchshie-saundtreki-k-pokazam-sezona-osen-zima-2017-2018.html">Лучшие саундтреки к показам осень-зима 2017/2018</a>
            </p>
        </div>

        <div class="article-detail__tag">
            <a href="/tags/253-muzykanty.html" class="article-detail__tag__item">музыканты</a>
            <span class="article-detail__tag__middot">·</span>
            <a href="/tags/344-muzykalnye-premery.html" class="article-detail__tag__item">музыкальные премьеры</a>
            <span class="article-detail__tag__middot">·</span>
        </div>

        <div class="clearfix"></div>
    </div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet"/>