<section class="main-col" style="display: inline-block">
    <div class="article-detail">

        <h1 class="article-detail__title">
            Open the Dorn: вышел новый альбом Ивана Дорна
        </h1>

        <div class="article-detail__date">14 апреля 2017</div>

        <div class="article-detail__text">
            <p>
                Сегодня, 14 апреля, вышел первый англоязычный альбом Ивана Дорна, о котором&nbsp;музыкант так много говорил последние полгода.&nbsp;Open the Dorn - так символично называется пластинка музыканта, с которой&nbsp;он планирует покорить запад и выиграть "Грэмми".&nbsp;“Это не только мой глобальный прыжок - это прорыв для всей многомиллионной Дорнабанды.&nbsp;И чем больше нас будет, тем дальше мы пойдём! - говорит Иван. - Прыгайте с нами”&nbsp;
            </p>
            <div class="post__photo">
                <img alt="" src="~/Areas/News/img/1-2.jpeg" style="height: 660px; width: 990px" title="iFrame"><span class="text__photo__about-title">Иван Дорн в съемке для мартовского номера Vogue UA</span>
            </div>
            <p style="margin-top: 25px">Работа над Open the Dorn началась летом 2015 в Киеве.&nbsp;Большую часть композиций Dornabanda записала летом/осенью 2016 года в Лос-Анджелесе, куда команда, по словам Дорна, уехала,&nbsp;чтобы отвлечься от бытовых забот и погрузиться в нужную&nbsp;музыкальную и языковую среду. Во время записи альбома команда встречалась и сотрудничала с американскими музыкантами - например,&nbsp;&nbsp;гитаристом Тони Брэкстон и Backstreet Boys Роэм Кэриоком. На запись нового альбома у команды ушло около 20 тысяч долларов, а о том, как проходила работа. можно узнать в документальном кино, снятом режиссером Геннадием Труновым.&nbsp;В новый альбом вошли 12 треков:&nbsp;здесь и&nbsp;соул, фанк, хаус, диско, электроника, хип-хоп и&nbsp;джаз.&nbsp;</p>
            <p style="text-align: center;">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/PfDewWews54?list=PLiaEK1m78Xyt5fbqP5fovhJ_j1UIOJ6h6" width="630"></iframe>
            </p>
            <p>"Я решил сочинять в Америке, подальше от бытовых дел, которые отвлекают от записи, и поближе к носителям языка, - признался Дорн в интервью в мартовском номере Vogue UA. -&nbsp;Допускал, что смогу сделать коллаборации с местными музыкантами. Ну и вдохновиться – Америкой в том числе. А пока занимаешься мастерингом, можешь куда-то продвинуть этот материал, показать его на месте кому-то, пообщаться. Профессионалы там очень серьезные. Решил, что пока не запишу альбом, не буду бриться.&nbsp;Это мой мотиватор. Мне не очень нравится моя борода – и внешне не нравится, и неудобно с ней очень. Я подумал, что это прекрасный стимул закончить этот прекрасный альбом. Сперва я пытался ее подравнивать справа и слева, но очень хреново выходило, так что теперь и этого не делаю, только на щеках подбриваю".</p>
            <p style="text-align: center;">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/8YjVyLqtVzc" width="630"></iframe>
            </p>
            <p>
                Послушать новый альбом Open the Dorn можно в <a href="http://bit.ly/ivandorn-otd">iTunes</a>
            </p>
            <p></p>
            <p>
                <em>Читайте также:</em>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/vmesto-tysyach-slov-kak-proshel-koncert-onuka-i-naoni.html">Вместо тысячи слов: как прошел концерт ONUKA и НАОНІ</a>
            </p>
            <p>
                <a href="http://vogue.ua/article/culture/muzyka/dahabraha-vystupit-na-festivale-sziget.html">"ДахаБраха" выступит на фестивале Sziget</a>
            </p>
        </div>

        <div class="article-detail__tag">
            <a href="/tags/253-muzykanty.html" class="article-detail__tag__item">музыканты</a>
            <span class="article-detail__tag__middot">·</span>
            <a href="/tags/344-muzykalnye-premery.html" class="article-detail__tag__item">музыкальные премьеры</a>
            <span class="article-detail__tag__middot">·</span>
            <a href="/tags/775-ivan-dorn.html" class="article-detail__tag__item">Иван Дорн</a>
            <span class="article-detail__tag__middot">·</span>
        </div>

        <div class="clearfix"></div>
    </div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet" />
