<section class="main-col">
    <div class="article-detail">

        <h1 class="article-detail__title">
            Премьера: новый клип группы 5'nizza
        </h1>

        <div class="article-detail__date">06 апреля 2017</div>

        <div class="article-detail__share">
            <a href="http://www.facebook.com/sharer.php?u=http://vogue.ua/article/culture/muzyka/novyy-klip-5-nizza.html" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://vkontakte.ru/share.php?url=http://vogue.ua/article/culture/muzyka/novyy-klip-5-nizza.html&amp;title=Премьера: новый клип группы 5'nizza" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-vk"></i>
            </a>
            <a href="http://twitter.com/share?url=http://vogue.ua/article/culture/muzyka/novyy-klip-5-nizza.html&amp;text=Премьера: новый клип группы 5'nizza" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-twitter"></i>
            </a>
        </div>


        <div class="article-detail__text">
            <p>
                Сегодня группа&nbsp;5'nizza выпускает долгожданное видео на песню "Самолет", на съемках которого команда&nbsp; нашего магазина побывала еще в январе. Снял клип известный украинский режиссер Максим Ксенда, давний поклонник группы, как он сам признается. "Самолет – песня о страхе, когда все наверху, а ты внизу, о вере в то, что долетим, минуя все переживания, о том, чтобы перелететь из жизни в жизнь", - говорят Сергей Бабкин и Андрей Запорожец. "Самолет" - композиция из нового альбома "Ку", который 10 июня 5'nizza&nbsp;презентует в Киеве, а после отправится в тур по Украине.
            </p>
            <p></p>
            <img class="slider__item__img" src="~/Areas/News/img/1-5.jpeg" alt="Съемки клипа">
        </div>
        <div class="slider__item slick-slide" data-description="" data-slick-index="1" aria-hidden="true" style="width: 620px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
            <img class="slider__item__img" src="~/Areas/News/img/2-5.jpeg" alt="">
        </div>
        
        <div class="slider__item slick-slide" data-description="" data-slick-index="3" aria-hidden="true" style="width: 620px;" tabindex="-1" role="option" aria-describedby="slick-slide03">
            <img class="slider__item__img" src="~/Areas/News/img/3-5.jpeg" alt="">
        </div>
        <div class="slider__item slick-slide" data-description="" data-slick-index="4" aria-hidden="true" style="width: 620px;" tabindex="-1" role="option" aria-describedby="slick-slide04">
            <img class="slider__item__img" src="~/Areas/News/img/4-5.jpeg" alt="">
        </div>
        <div class="slider__item slick-slide" data-description="" data-slick-index="5" aria-hidden="true" style="width: 620px;" tabindex="-1" role="option" aria-describedby="slick-slide05">
            <img class="slider__item__img" src="~/Areas/News/img/5-5.jpeg" alt="">
        </div>
        <div class="slider__item slick-slide" data-description="" data-slick-index="6" aria-hidden="true" style="width: 620px;" tabindex="-1" role="option" aria-describedby="slick-slide06">
            <img class="slider__item__img" src="~/Areas/News/img/6-5.jpeg" alt="">
        </div>
        <div class="slider__item slick-slide" data-description="" data-slick-index="7" aria-hidden="true" style="width: 620px;" tabindex="-1" role="option" aria-describedby="slick-slide07">
            <img class="slider__item__img" src="~/Areas/News/img/7-5.jpeg" alt="">
        </div>
        <div class="slider__item slick-slide" data-description="" data-slick-index="8" aria-hidden="true" style="width: 620px;" tabindex="-1" role="option" aria-describedby="slick-slide08">
            <img class="slider__item__img" src="~/Areas/News/img/8-5.jpeg" alt="">
        </div>
    </div>
    <p></p>
    <p>
        Съемки "Самолета" оказались для Бабкина и Запорожца необычным опытом: большинство клипов группы всегда были камерными и без технических наворотов, а&nbsp;"Самолет" -&nbsp;это практически блокбастер для&nbsp;дуэта. Во время съемок&nbsp;целые сутки Андрей Запорожец и Сергей Бабкин висели в воздухе на специальных страховочных троссах, как заправские каскадеры. Такова новая&nbsp;5’nizza.
    </p>
    <p>
        <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/EcftdcrBtcU" width="630"></iframe>
    </p>
    <p>Фото: Юрий Яцкулич</p>
    <p>
        <strong>Читайте также:</strong>
    </p>
    <p>
        <a href="http://vogue.ua/article/culture/muzyka/novyy-klip-luny.html">Танцуют все: новое видео Луны</a>
    </p>
    <p>
        <a href="http://vogue.ua/article/culture/muzyka/pleylist-christian-loeffler.html">Плейлист Кристиана Леффлера</a>
    </p>


    <div class="article-detail__tag">
        <a href="/tags/253-muzykanty.html" class="article-detail__tag__item">музыканты</a>
        <span class="article-detail__tag__middot">·</span>
        <a href="/tags/344-muzykalnye-premery.html" class="article-detail__tag__item">музыкальные премьеры</a>
        <span class="article-detail__tag__middot">·</span>
    </div>

    <div class="clearfix"></div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet"/>