<section class="main-col">
    <div class="article-detail">

        <h1 class="article-detail__title">
            Премьера: Pianoboy представил украинскую версию хита "Родина"
        </h1>

        <div class="article-detail__date">30 марта 2017</div>

        <div class="article-detail__share">
            <a href="http://www.facebook.com/sharer.php?u=http://vogue.ua/article/culture/muzyka/premera-pianoboy-predstavil-ukrainskuyu-versiyu-hita-rodina.html" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://vkontakte.ru/share.php?url=http://vogue.ua/article/culture/muzyka/premera-pianoboy-predstavil-ukrainskuyu-versiyu-hita-rodina.html&amp;title=Премьера: Pianoboy представил украинскую версию хита &quot;Родина&quot;" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-vk"></i>
            </a>
            <a href="http://twitter.com/share?url=http://vogue.ua/article/culture/muzyka/premera-pianoboy-predstavil-ukrainskuyu-versiyu-hita-rodina.html&amp;text=Премьера: Pianoboy представил украинскую версию хита &quot;Родина&quot;" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-twitter"></i>
            </a>
        </div>


        <div class="article-detail__text">
            <p>
                Знаменитая песня музыканта <a href="http://vogue.ua/voguetv/21-vopros-dmitriyu-shurovu-ot-vogue-ua.html">Дмитрия Шурова</a> "Родина" получила второе рождение. Композиция, которая вошла в альбом "Не прекращай мечтать", была написана в 2012 году и презентована в сентябре 2013-го – как раз за два месяца до событий на Майдане. С тех пор песня обрела пророческий смысл ("Как будто город твой охвачен революцией / Бросаются камнями, бегут по улицам") и стала патриотическим гимном ("Пусть все реки вытекают до последнего ручья / Я тебя не променяю, потому что ты родная!"), который исполнялся на концертах сотни раз.&nbsp;
            </p>
            <div class="post__photo">
                <img alt="" src="~/Areas/News/img/1-10.jpeg" title="">
            </div>
            <p>В феврале этого года Шуров неожиданно получил письмо на почту&nbsp;от Катерины Галенко, учительницы из Лисичанска Луганской области. В нем был перевод песни "Родина" на украинский язык. Для Дмитрия Шурова песня сразу же обрела совершенно новый смысл: это уже был взгляд на все то, что происходит в Украине,&nbsp;глазами человека, которого пытаются лишить Родины. Так появилась украиноязычная версия в оркестровой аранжировке: "Для меня создание новой версии стало настоящим испытанием, потому что оригинальная песня глубоко проросла в меня после сотен концертов и исполнений. Но я решился на эту запись, потому что песня получила не только новую аранжировку и перевод:&nbsp;она приобрела иной смысл. В&nbsp;ней отражен взгляд человека, у которого Родину хотят отобрать, а он борется до последнего за нее и за все ценное, что для него есть в жизни".&nbsp;</p>
            <p style="text-align: center;">
                <iframe allowfullscreen="" frameborder="0" height="400" src="https://www.youtube.com/embed/A02B3jIaVLQ" width="620"></iframe>
            </p>
            <p>
                <em>Читайте также:</em>
            </p>
            <p>
                <a href="http://mediagates.ru/blogs/1183/post/63465582/">Мейнстрим наносит удар по жанру электронной музыки</a>
            </p>
            <p>
                <a href="http://mediagates.ru/blogs/1183/post/31003021/">Обнародованы музыкальные рекорды книги Гиннесса</a>
            </p>
        </div>

        <div class="article-detail__tag">
            <a href="/tags/253-muzykanty.html" class="article-detail__tag__item">музыканты</a>
            <span class="article-detail__tag__middot">·</span>
            <a href="/tags/344-muzykalnye-premery.html" class="article-detail__tag__item">музыкальные премьеры</a>
            <span class="article-detail__tag__middot">·</span>
        </div>

        <div class="clearfix"></div>
    </div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet"/>