<section class="main-col">
    <div class="article-detail">

        <h1 class="article-detail__title">
            Как красиво признаться в любви в соцсетях
        </h1>

        <div class="article-detail__date">05 апреля 2017</div>

        <div class="article-detail__share">
            <a href="http://www.facebook.com/sharer.php?u=http://vogue.ua/article/culture/muzyka/kak-krasivo-priznatsya-v-lyubvi-v-socsetyah.html" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://vkontakte.ru/share.php?url=http://vogue.ua/article/culture/muzyka/kak-krasivo-priznatsya-v-lyubvi-v-socsetyah.html&amp;title=Как красиво признаться в любви в соцсетях" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-vk"></i>
            </a>
            <a href="http://twitter.com/share?url=http://vogue.ua/article/culture/muzyka/kak-krasivo-priznatsya-v-lyubvi-v-socsetyah.html&amp;text=Как красиво признаться в любви в соцсетях" rel="nofollow" class="article-detail__share__item">
                <i class="fa fa-twitter"></i>
            </a>
        </div>


        <div class="article-detail__text">
            <p>Сегодня соцсети стали главным рупором Вселенной: в них сообщают о помолвке, прибавлении в семье и признаются в любви. Последнее, например, сделала Бейонсе, подойдя к этому деликатному вопросу очень лирично. В своем Instagram-аккаунте певица опубликовала видео в честь девятой годовщины свадьбы с ее мужем Джей Зи. Музыкальный клип, включающий&nbsp;кадры из домашнего&nbsp;видеоархива&nbsp;пары, выглядит очень трогательно и называется Die With You – идеальный современный пример, как сегодня&nbsp;признаться в любви в соцсетях.</p>
            <div class="insta-square">
                <iframe style="width: 640px; height: 640px" frameborder="0" scrolling="no" src="https://instagram.com/p/BSeXmo3gRf4/embed/"></iframe>
            </div>
            <p>
                Напомним, что сейчас Бейонсе&nbsp;беременна двойней.&nbsp;У пары уже есть 5-летняя дочь Блу Иви, которая родилась в 2012 году.
            </p>
            <div class="insta-square">
                <iframe frameborder="0" style="width: 640px; height: 640px" scrolling="no" src="https://instagram.com/p/BMQTfR-hUcw/embed/"></iframe>
            </div>
            <p>
                <em>Читайте также:</em>
            </p>
            <p>
                <a href="http://vogue.ua/article/fashion/persona/zvezdnyy-bebi-bum-oni-stanut-roditelyami-v-2017-godu.html">Звездный бэби-бум: они станут родителями в 2017 году</a>
            </p>
            <p>
                <a href="http://vogue.ua/article/fashion/ceremoniya/10-samyh-zapominayushchihsya-obrazov-na-ceremonii-grammy-2017.html">10 самых запоминающихся образов на церемонии Grammy</a>
            </p>
        </div>

        <div class="article-detail__tag">
            <a href="/tags/130-instagram.html" class="article-detail__tag__item">Instagram</a>
            <span class="article-detail__tag__middot">·</span>
            <a href="/tags/227-bejjonse.html" class="article-detail__tag__item">Бейонсе</a>
            <span class="article-detail__tag__middot">·</span>
        </div>

        <div class="clearfix"></div>
    </div>


</section>
<link href="~/Areas/News/Styles/news.css" rel="stylesheet"/>