@model PVT.Q1._2017.Shop.Areas.Management.Models.GenreManagmentViewModel


@using (Html.BeginForm("New", "Genres", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="genreDetails">
        <ul>
            <li>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Name" } })
            </li>
            <li>
                @Html.EditorFor(m => m.Description, new { htmlAttributes = new { placeholder = "Description" } })
            </li>
        </ul>

        <button type="submit" class="add-button">Add</button>
    </div>
}

@section TrackManage{
    <link href="/Areas/Management/Styles/AddNewTrack.css" rel="stylesheet" type="text/css"/>}