@model PVT.Q1._2017.Shop.Areas.Management.ViewModels.GenreManagementViewModel


@using (Html.BeginForm("New", "Genres", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="genreDetails">
        <ul>
            <li>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Имя" } })
            </li>
            <li>
                @Html.EditorFor(m => m.Description, new { htmlAttributes = new { placeholder = "Описание" } })
            </li>
        </ul>

        <button type="submit" class="btn" id="btn-save">Сохранить</button>
    </div>
}
@section cssStyles{
    <link href="/Styles/tracks.css" rel="stylesheet" type="text/css" />
}