@model Shop.Common.Models.ViewModels.ArtistManageViewModel

<body>
<h2 class="op-title">Информация об исполнителе</h2>
    
@Html.AntiForgeryToken()
<div id="artistDetails">
    @Html.TextBoxFor(model => model.Name, new { id = "artist-details-name", @readonly = "true", placeholder = "Исполнитель" });
    @Html.TextBoxFor(model => model.Birthday, "{0:d MMMM yyyy}", new { id = "artist-details-bd", @readonly = "true", placeholder = "Дата рождения" });
    <img class="artist-image" src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" width="276" height="346" />
    <div class="artist-details-bio">@Html.DisplayTextFor(model => model.Biography);</div>
    
    

</div>
</body>

@section Details{
    <link href="/Areas/Management/Styles/details.css" rel="stylesheet" type="text/css"/>}