@model Shop.Common.Models.ViewModels.ArtistDetailsViewModel
<body>
<h2 class="op-title">Регистрация нового исполнителя</h2>
@using (Html.BeginForm("New", "Artists", FormMethod.Post, new { enctype = "multipart/form-data", name = "formreg" }))
{
    @Html.AntiForgeryToken()
    <div id="artistDetails">
        <ul>
            <li>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Исполнитель" } })
            </li>
            <li>
                @Html.EditorFor(m => m.Birthday, new { htmlAttributes = new { placeholder = "Дата рождения", type = "text" } })
            </li>
            <li>
                @Html.TextAreaFor(e => e.Biography, 10, 155, new { @placeholder = "Биография" })
            </li>
            
            <li class="cover-file">
                <div>
                    <input id="file-path" type="text" placeholder="Фото" />
                    <input id="browsefile-button" type="button" value="Обзор..."
                           onclick="document.formreg.UploadedImage.click()" />
                </div>
                <input  type="file" id="file" name="UploadedImage" style="display: none" />

            </li>
        </ul>
        <button type="submit" class="add-button">Добавить</button>
    </div>
}
    
    <script src="/Scripts/jquery-3.2.0.min.js"></script>
    <script src="/Scripts/openfile.dialog.js" type="text/javascript"></script>
    
</body>

@section Details{
    <link href="/Areas/Management/Styles/details.css" rel="stylesheet" type="text/css"/>}