
@{
    ViewBag.Title = "Регистрация пройдена";
}

<h2>Поздравляем! Вы успешно зарегистрировались в нашем магазине.</h2>
<br />

<div>
    @Html.ActionLink("Пойти за треками", "List", new { area = "Content", controller = "Track" })
</div>
