@model Shop.Common.ViewModels.TrackAlbumsListViewModel
@{
    ViewBag.Title = Model.TrackDetails.Name;
}

<div style="text-align: initial">
    <div>dsfsdf
        @{
            Html.RenderPartial("_TrackDetails", Model.TrackDetails);
        }
    </div>
    
    <div class="panel">
        <div class="panel-body">
            <h2>Альбомы с этим треком <span class="badge">@Model.TrackDetails.AlbumsCount</span></h2>
            @{
                Html.RenderPartial("_AlbumsList", Model.Albums);
            }
        </div>
    </div>
</div>

@section cssStyles
{
    <link href="~/Content/tracks.css" rel="stylesheet" />
    <link href="~/Content/ratingStars.css" rel="stylesheet" />
}