
@using System.Security.Policy
@model System.Collections.Generic.ICollection<Shop.Common.ViewModels.TrackDetailsViewModel>

@{ ViewBag.Title = "Все треки";}
<div class="tracks-list">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            @Html.Partial("_TrackListItem", item)
        }
    </ul>
</div>

@section scripts
{
    <script>
        function itemClick(id) {
            var url = '@Url.Action("Details", "Tracks", new { id = "*" })';
            window.location.href = url.replace('*', encodeURIComponent(id));
        }

        function audioClick() {
            alert("click detected");
        }
    </script>
}
@section cssStyles{
    <link href="~/Content/tracks.css" rel="stylesheet"/>
}