@model ICollection<Shop.Common.ViewModels.TrackDetailsViewModel>

<title class="title" style="position: initial; margin-top: 0">Все треки</title>


<div class="main-track-list">
    <ul class="list-group" style="width: 100%">
        @foreach (var item in Model)
        {
            @Html.Partial("TrackListItem", item);
        }
    </ul>
</div>

<script>
    function itemClick(id) {
        var url = '@Url.Action("Details", "Tracks", new { id = "*" })';
        window.location.href = url.replace('*', encodeURIComponent(id));
    }

    function audioClick() {
        alert("click detected");
    }
</script>
<script src="d:\dropbox\git\ms\pvt.q1.2017.shop\shop.common\helpers\audio\js\ssuhtml5audio.js"></script>
@section cssStyles{
    <link href="~/Content/tracks.css" rel="stylesheet" />
}