@model ICollection<Shop.Common.ViewModels.PurchasedTrackViewModel>

@{ ViewBag.Title = "Мои покупки"; }

<div class="tracks-list">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            @Html.Partial("_PurchasedTrackListItem", item)
        }
    </ul>
</div>


@section cssStyles{
    <link href="~/Content/tracks.css" rel="stylesheet"/>
}