@using PVT.Q1._2017.Shop.Areas.Content.Extentions
@model ICollection<Shop.Common.ViewModels.AlbumViewModel>

@{
    ViewBag.Title = "Список альбомов";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.BtnCreateAlbum()
</p>
        
@Html.Partial("_AlbumsList", Model)

