@using Microsoft.SqlServer.Server
@model IEnumerable<Shop.Common.ViewModels.ArtistDetailsViewModel>

@{
    ViewBag.Title = "Все исполнители";
}

<title class="title" style="margin: 0">Все исполнители</title>


<div class="artists-list">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item" onclick="itemClick(@item.Id)">
                <div class="artists-list-image">
                    <img class="img-thumbnail" src="data:image;base64,@Convert.ToBase64String(item.Photo)" onerror="this.src = '/img/defuserpic.png'"/>
                </div>
                <div class="text-box">
                    <div class="info">
                        <h3 style="margin-top: 0">@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Biography)</p>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<script>
    function itemClick(id) {
        var url = '@Url.Action("Details", "Artists", new { id = "*"})';
        window.location.href = url.replace('*', encodeURIComponent(id));
    }
</script>

@section cssStyles{
    <link href="~/Content/tracks.css" rel="stylesheet" /> 
}