<li>@Html.ActionLink("Главная", "Index", new { area = string.Empty, controller = "Home" })</li>
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Мой аккаунт", "Index", new { area = "User", controller = "Manage" })</li>
}
<li>@Html.ActionLink("Контакты", "Contact", new { area = string.Empty, controller = "Home" })</li>

