@model double

@if (Model >= 5D)
{
    <div class="five-stars"></div>
}
else if (Model >= 4.75D)
{
    <div class="four-75-stars"></div>
}
else if (Model >= 4.50D)
{
    <div class="four-50-stars"></div>
}
else if (Model >= 4.25D)
{
    <div class="four-25-stars"></div>
}
else if (Model >= 4D)
{
    <div class="four-stars"></div>
}
else if (Model >= 3.75D)
{
    <div class="three-75-stars"></div>
}
else if (Model >= 3.50D)
{
    <div class="three-50-stars"></div>
}
else if (Model >= 3.25D)
{
    <div class="three-25-stars"></div>
}
else if (Model >= 3D)
{
    <div class="three-stars"></div>
}
else if (Model >= 2.75D)
{
    <div class="two-75-stars"></div>
}
else if (Model >= 2.50D)
{
    <div class="two-50-stars"></div>
}
else if (Model >= 2.25D)
{
    <div class="two-25-stars"></div>
}
else if (Model >= 2D)
{
    <div class="two-stars"></div>
}
else if (Model >= 1.75D)
{
    <div class="one-75-star"></div>
}
else if (Model >= 1.50D)
{
    <div class="one-50-star"></div>
}
else if (Model >= 1.25D)
{
    <div class="one-25-star"></div>
}
else if (Model >= 1D)
{
    <div class="one-star"></div>
}
else if (Model >= 0.75D)
{
    <div class="zero-75-stars"></div>
}
else if (Model >= 0.50D)
{
    <div class="zero-50-stars"></div>
}
else if (Model >= 0.25D)
{
    <div class="zero-25-stars"></div>
}
else
{
    <div class="zero-stars"></div>
}
