@model string
<div id="aPlayer">
    <audio controls style="width: 100%; height: 35px">
        <source src="@Model" type="audio/mp3" display="inline-block" />
    </audio>
</div>

<link href="~/Content/tracks.css" rel="stylesheet" /> 
