.button-back {
    display: block;
    overflow: initial;
    background-color: #fff;
    width: 150px;
    height: 40px;
    line-height: 100px;
    color: #000000;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button-back span,
.button-back .icon-back {
    display: block;
    text-align: center;
    margin-top: 142px;
    position: absolute;
    top: 0;
}

.button-back span {
    height: 100%;
    margin-top: -30px;
    width: 72%;
    line-height: inherit;
    text-transform: uppercase;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button-back span:after {
    content: '\003C';
    background-color: #696969;
    width: 2px;
    height: 70%;
    position: absolute;
    top: 90%;
    right: -1px;
}

.button-back .icon-back {
    width: 28%;
    right: 0px;
    top: -171px;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button-back .icon-back .fa {
    font-size: 35px;
    vertical-align: middle;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}

.button-back .icon-back .fa-back {
    height: 36px;
    width: 36px;
}

.fa-back:before, .fa-close:before, .fa-times:before {
    content: '\003C';
    width: 36px;
    height: 36px;
}

.fa-success-back:before {
    content: "\003C";
}

.button-back .icon-back .fa-success-back {
     display: none;
}

.button-back.success span, .button-back:hover span {
    left: -78%;
    opacity: 0;
}

.button-back.success .icon-back, .button-back:hover .icon-back { width: 100%;color: black }

.button-back.success .icon-back .fa { font-size: 25px; }

.button-back.success { background-color: #008000; }

.button-back.success .icon-back .fa-back { display: none; }

.button-back.success .icon-back .fa-success-back { display: inline-block;margin-top: -15px; }

.button-back:hover .icon-back .fa-back { height: 46px; }

.button-back:active { opacity: 1; }