.navbar {
    display: block;
}

.container {
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

.nav {
    display: block;
}
.navbar-brand {
    font-size: 3.5em;
}

.topbar {
    display: inline-block;
    vertical-align: middle;
}

.regnewtrack {
    width: 140px;
    height: 40px;
    border-radius: 25px;
    position: absolute; 
    margin-top: 240px;
    font-weight: bold
}

.regnewtrack:hover {
    background: black;
}

.copyright {
    position: absolute;
    bottom: 50px;
    left: 48%;
    color: black;
}

footer {
    color: aliceblue;
    margin-left: 85%;
}
