.button2 {
    display: block;
    background-color: #c0392b;
    width: 150px;
    height: 40px;
    line-height: 100px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button2 span,
.button2 .icon2 {
    display: block;
    margin-top: -5px;
    height: 100%;
    text-align: center;
    margin-top: 147px;
    position: absolute;
    top: 0;
}

.button2 span {
    height: 100%;
    margin-top: -30px;
    width: 72%;
    line-height: inherit;
    text-transform: uppercase;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button2 span:after {
    content: '';
    background-color: #a53125;
    width: 2px;
    height: 70%;
    position: absolute;
    top: 90%;
    right: -1px;
}

.button2 .icon2 {
    width: 28%;
    right: 2px;
    top: -176px;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button2 .icon2 .fa {
    font-size: 35px;
    vertical-align: middle;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}

.button2 .icon2 .fa-remove {
    height: 36px;
    width: 36px;
}

.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\00D7";
}

.fa-check:before {
    content: "\2714";
}

.button2 .icon2 .fa-check {
     display: none;
}

.button2.success span, .button2:hover span {
    left: -72%;
    opacity: 0;
}

.button2.success .icon2, .button2:hover .icon2 { width: 100%;color: white }

.button2.success .icon2 .fa { font-size: 25px; }

.button2.success { background-color: #27ae60; }

.button2.success .icon2 .fa-remove { display: none; }

.button2.success .icon2 .fa-check { display: inline-block; margin-top: -5px; }

.button2:hover .icon2 .fa-remove { height: 46px; }

.button2:active { opacity: 1; }