.button1 {
    display: block;
    overflow: initial;
    background-color: #fff;
    width: 150px;
    height: 40px;
    line-height: 100px;
    color: #000000;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button1 span,
.button1 .icon1 {
    display: block;
    text-align: center;
    margin-top: 142px;
    position: absolute;
    top: 0;
}

.button1 span {
    height: 100%;
    margin-top: -30px;
    width: 72%;
    line-height: inherit;
    text-transform: uppercase;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button1 span:after {
    content: '';
    background-color: #696969;
    width: 2px;
    height: 70%;
    position: absolute;
    top: 90%;
    right: -1px;
}

.button1 .icon1 {
    width: 28%;
    right: 0px;
    top: -170px;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button1 .icon1 .fa {
    font-size: 35px;
    vertical-align: middle;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}

.button1 .icon1 .fa-save {
    height: 36px;
    width: 36px;
}

.fa-save:before, .fa-close:before, .fa-times:before {
    content: url("/img/save.png");
    width: 36px;
    height: 36px;
}

.fa-success:before {
    content: "\2714";
}

.button1 .icon1 .fa-success {
     display: none;
}

.button1.success span, .button1:hover span {
    left: -78%;
    opacity: 0;
}

.button1.success .icon1, .button1:hover .icon1 { width: 100%;color: white }

.button1.success .icon1 .fa { font-size: 25px; }

.button1.success { background-color: #008000; }

.button1.success .icon1 .fa-save { display: none; }

.button1.success .icon1 .fa-success { display: inline-block;margin-top: -5px; }

.button1:hover .icon1 .fa-save { height: 46px; }

.button1:active { opacity: 1; }