@model PVT.Q1._2017.Shop.ViewModels.TrackViewModel

@using (Html.BeginForm("AddNew", "Track", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="trackData">
        <ul>
            <li>
                <input type="text" placeholder="Artist"/>
            </li>

            <li>
                <input type="text" placeholder="Name" value=""/>
            </li>

            <li>
                <input type="text" placeholder="Album"/>
            </li>

            <li>
                <input type="text" placeholder="Genre"/>
            </li>

            <li>
                <input type="date" placeholder="Release date"/>
            </li>
            <li>
                <input type="time" placeholder="Duration"/>
            </li>
            <li>
                <input type="text" placeholder="Price"/>
            </li>
            <li class="cover-file">
                <div class="mask">
                    <input class="fake-input" id="file-path" type="text" placeholder="Cover"/>
                    <input id="browsefile-button" type="button" value="Browse..."
                           onclick="document.form1.filediag.click()"/>
                </div>
                <input class="original-input" type="file" name="filediag" style="display: none"/>

            </li>
        </ul>

        <button type="submit" class="add-button">Add</button>
    </div>
}


@section AddNewTrack{
    <link href="/Styles/AddNewTrack.css" rel="stylesheet" type="text/css"/>}