@model Shop.Common.Models.Track

<!DOCTYPE html>

<html>
<head>
    <script>
        $(document).ready(function() {
            alert("hello");
        });
    </script>


    @*<script>
        alert("script ok");
    </script>*@

    @*<script>
        $('.original-input').on("change",
                 function () {
                     realVal = $(this).val();
                     lastIndex = realVal.lastIndexOf("\\") + 1;
                     if (lastIndex !== -1) {
                         realVal = realVal.substr(lastIndex);
                         $(this).prev('.mask').find('.fake-input').val(realVal);
                     }
                 });
    </script>*@

    @*<script>
        $(document).ready(function() {
            $('.original-input').on("change",
                function() {
                    realVal = $(this).val();
                    lastIndex = realVal.lastIndexOf("\\") + 1;
                    if (lastIndex !== -1) {
                        realVal = realVal.substr(lastIndex);
                        $(this).prev('.mask').find('.fake-input').val(realVal);
                    }
                });
        });
    </script>*@

    <title>AddNew</title>
</head>
<body>

<form name="form1" method="post" enctype="multipart/form-data" action="Track/FileUpload">
    <div id="trackData">
        <ul class="inputList" width="500px">
            <li>
                <input type="text" placeholder="Artist"/>
            </li>

            <li>
                <input type="text" placeholder="Name"/>
            </li>

            <li>
                <input type="text" placeholder="Album"/>
            </li>

            <li>
                <input type="text" placeholder="Genre"/>
            </li>

            <li>
                <input type="date" placeholder="Release date"/>
            </li>
            <li>
                <input type="time" placeholder="Duration"/>
            </li>
            <li>
                <input type="text" placeholder="Price"/>
            </li>
            <li class="cover-file">
                <div class="mask">
                    <input class="fake-input" id="file-path" type="text" placeholder="Cover"/>
                    <input id="browsefile-button" type="button" value="Browse..."
                           onclick="document.form1.filediag.click()"/>
                </div>
                <input class="original-input" type="file" name="filediag" style="display: none"/>

            </li>
        </ul>

        <button type="submit" class="add-button">Add</button>
    </div>
</form>
</body>
</html>

@section AddNewTrack{
    <link href="/Styles/AddNewTrack.css" rel="stylesheet" type="text/css"/>
}