@model IEnumerable<Shop.Common.Models.Track>
@{
    ViewBag.Title = "Track list";
}

<h1 id="tl-title">Tracklist</h1>

<div class="rounded">


    @foreach (var track in Model)
    {
        <a href="/Views/Track/Details?songId="@track.Id id=@track.Id>
            <p>
                @track.Artist
            </p>
            <p>@track.Name</p>
        </a>
    }
</div>

@section trackList
{
    <link href="/Styles/Main.css" rel="stylesheet" type="text/css"/>
}