
@{
    ViewBag.Title = "Index";
}

<h2>Currenyc management page</h2>

@Html.ActionLink("List of currencies", "All", "Currency") 
<br/>
@Html.ActionLink("List of rates", "Rates", "Currency") 