
@{
    ViewBag.Title = "Success";
}

<h2>Поздравляем! Вы успешно зарегистрировались в нашем магазине.</h2>
<br />
<h4>Деньги держите наготове</h4>

<div>
    @Html.ActionLink("Пойти за треками", "Index", "Home")
</div>
